@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    font-size: initial;
    font-weight: initial;
}

:root {
    --color-text: #28261D;
    --color-sky: #B3BFD1;

    color: var(--color-text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

a {
    color: var(--color-text);
}

.hero-banner {
    background-image: url('./media/devils_tower.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.hero-header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-header-nav {
    position: absolute;
    top: 0;
    padding-top: 5vh;
    width: 100%;
}

.header-nav {
    padding-top: 5vh;
}

@media (max-width: 50rem) {
    .hero-header-nav, .header-nav {
        padding-top: 0;
    }
}

.header-ul {
    display: flex;
    list-style-type: none;
    max-width: 30rem;
    margin: 0 auto;
    overflow-y: auto;
    z-index: 2;
}

.header-li {
    padding: 1rem;
    white-space: nowrap;
    width: 5rem;
    text-align: center;
    max-width: 5rem;


    details ul {
        list-style-type: none;
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        margin: 2rem auto;
        padding: 1rem;
        max-width: 30rem;
        border: 1px solid;

        li {
            white-space: wrap;
        }
    }
}

.hero-header-nav .header-li details ul {
    background-color: var(--color-sky);
}

.header-popout {
    border: 2pt solid;
    backdrop-filter: blur(5pt);
    font-size: 4rem;
    font-weight: bold;
    padding: 1rem;
    max-width: 50rem;
    text-align: center;
}

.header-popout-inner {
    border: 2pt solid;
    background-color: var(--color-sky);
    padding: 2rem;
}

@media (max-width: 50rem) {
    .header-popout {
        padding: 0.5rem;
    }

    .header-popout-inner {
        padding: 1rem;
    }
}

.header-popout-name {
    font-size: 4rem;
    font-weight: bold;
}

.header-popout-description {
    font-size: 1.5rem;
}

.footer {
    height: 25vh;
    text-align: center;
    line-height: 25vh;
}

.h1 {
    font-size: 3rem;
    margin: 2rem;
}

.gallery {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    figure {
        width: 25rem;

        @media (max-width: 120rem) {
            width: calc(25vw - 3rem);
        }

        @media (max-width: 100rem) {
            width: calc(33vw - 3.5rem);
        }

        @media (max-width: 60rem) {
            width: calc(50vw - 4rem);
        }

        @media (max-width: 40rem) {
            width: 100%;
        }
    }

    a {
        display: block;
        aspect-ratio: 16 / 9;
        border-radius: 5pt;
        width: 100%;
        background-size: 100%;
        background-position: top;
        box-shadow: 0 0 4pt black;
        transition: background-size 150ms;
        transition-timing-function: ease-in-out;
        position: relative;

        &:hover {
            background-size: 105%;
        }

        .live-demo-badge {
            color: white;
            display: block;
            background-color: red;
            border-radius: 5pt;
            position: absolute;
            right: 3%;
            bottom: 5%;
            padding: 0.25rem;
        }
    }

    figcaption {
        text-align: center;
        margin-top: 1rem;
    }
}

.cis-syllabi {
    h1, h2, p, ul, figure {
        max-width: 50rem;
        padding: 0 1rem;
    }

    h2 {
        margin: 3rem auto 0;
    }

    p, ul {
        margin: 1rem auto;
    }

    h1, figure {
        margin: 3rem auto;
    }

    h1:first-of-type {
        margin-top: 1rem;
    }

    h1, h2 {
        font-weight: bold;
        text-align: center;
    }

    h1 { font-size: 4rem; }
    h2 { font-size: 3rem; }

    ul {
        padding-left: 4rem;
    }

    pre {
        border: 1px solid;
        padding: 1rem;
        border-radius: 5pt;
        overflow-y: auto;
    }

    embed, video {
        display: block;
        margin: 3rem auto 0;
        width: 100%;
        max-width: 50rem;
    }

    embed { aspect-ratio: 16 / 10; }
    video { aspect-ratio: 16 / 9; }

    figure img {
        display: block;
        margin: 0 auto;
        max-height: 70vh;
        max-width: 100%;
        border-radius: 5pt;
        box-shadow: 0 0 5pt;
    }

    figcaption {
        margin-top: 1rem;
        text-align: center;
    }

    .live-demo-button {
        display: block;
        text-align: center;
        background-color: red;
        color: white;
        font-weight: bold;
        font-size: xx-large;
        padding: 1rem;
        border-radius: 5pt;
        max-width: fit-content;
        margin: 0 auto;
        text-decoration: none;
        box-shadow: 0 0 5pt black;
        transition: scale 100ms;

        &:hover {
            scale: 1.1;
        }
    }
}

.back-to-top {
    display: block;
    height: 2rem;
    width: 4rem;
    border-radius: 5pt;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    text-decoration: none;
    border: 1pt solid;
    text-align: center;
    line-height: 2rem;
    color: initial;
    background-color: white;
}
